.full-width {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

.header-row {
  background: url('https://images.unsplash.com/photo-1421284621639-884f4129b61d?crop=entropy&fit=crop&fm=jpg&h=975&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925');
  background-position: center;

  .title {
    font-weight: 300;
    font-size: 80px;
    text-align: center;
    padding: 100px;
    text-transform: uppercase;
    text-shadow: 2px 2px #333;
    color: #fff;
  }
}
