<% if is_followed? @listing.id %>
    <%= button_to [ :unfollow, @listing ] do %>
    <% content_tag(:i, "", :class => "fa fa-eye-slash") %>
    Un-Watch
    <% end %>
<% else %>
    <%= button_to [ :follow, @listing ] do %>
    <%= content_tag(:i, "", :class => "fa fa-eye fa-lg") %>
    Watch
    <% end %>
<% end %>

<!-- This whole chunk of code compiles to HTML as:
<button><i class="fa fa-eye fa-lg">Watch</button>

It's okay to wrap the whole chunk of code in a <div> or any regular HTML element if you need to
-->

<!-- button_to compiles to:
<button>Watch</button>
-->

<!-- content_tag compiles to:
<i class="fa fa-eye fa-lg"></i>
which is the Font Awesome eyeball icon -->

