<div class="row" id="tabs-container">
  <ul class="tabs" data-tab>
    <li class="tab-title"><a href="#listings-new"><i class="fa fa-plus fa-lg"></i> New Listing</a></li>
    <li class="tab-title"><a href="#listings-index">View All Listings</a></li>
    <li class="tab-title"><a href="#listings-donation-history">My Donations</a></li>
    <li class="tab-title"><a href="#listings-request-history">My Requests</a></li>
  </ul>
</div>
