<div class="row" id="tabs-container">
  <ul class="tabs" data-tab>
    <li class="tab-title"><a href="#panel2"><i class="fa fa-plus fa-lg"></i> New Listing</a></li>
    <li class="tab-title"><a href="#tab-listings-index">View All Listings</a></li>
    <li class="tab-title"><a href="#panel4">My Donations</a></li>
    <li class="tab-title"><a href="#panel3">My Requests</a></li>
  </ul>
</div>
