<%= render 'listings/sub_navigation' %>

<div class="tabs-content">

<!--TAB 3: REQUEST HISTORY-->
<div class="content active" id="listings-request-history">
<div class="large-12 columns" id="listings-wrapper">
    <div class="row" id="request-history"> <h4>My Request History</h4></div>
    <div class="large-8 columns" id="listings-content">
        <div class="large-3 columns" id="listing-image">
          <img src="http://placehold.it/100x100&text=[img]">
        </div>
        <div class="large-5 columns">
          <h4>Item Name</h4> <!--How to insert item name?-->
          <p>Item Description</p>
        </div>
     </div>
    <div class="large-3 columns" id="listings-content">
    <h4>Status</h4>
    <p>Claimed</p>
    </div>
  </div>
</div>
</div>

</div>
</div>
<!--TAB PANEL END-->
