<!DOCTYPE html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/normalize.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/foundation.min.css">
<link href='http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="main.css"/>

<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>

<body>

<!--HEADER START-->
<div class="row" id="header">
<div class="large-9 columns">
<h3>Human Assistance Resource Exchange | HARE</h3>
</div>
<div class="large-3 columns">
<ul class="inline-list" id="update-info">
  <li><a href="#">Update Account Information</a></li> <!--How to link to update account info?-->
  </ul>
</div>
</div>
<!--HEADER END-->


<!--TAB PANEL START-->
<div class="row">
<ul class="tabs" data-tab>
  <li class="tab-title"><a href="#panel1">View Listings</a></li>
  <li class="tab-title"><a href="#panel2">Make a Listing</a></li>
  <li class="tab-title active"><a href="#panel3">Request History</a></li>
  <li class="tab-title"><a href="#panel4">My Donations</a></li>
</ul>
<div class="tabs-content">

<!--TAB 3: REQUEST HISTORY-->
<div class="content active" id="panel3">
<div class="large-12 columns" id="listings-wrapper">
    <div class="row" id="request-history"> <h4>My Request History</h4></div>
    <div class="large-8 columns" id="listings-content">
        <div class="large-3 columns" id="listing-image">
          <img src="http://placehold.it/100x100&text=[img]">
        </div>
        <div class="large-5 columns">
          <h4>Item Name</h4> <!--How to insert item name?-->
          <p>Item Description</p>
        </div>
     </div>
    <div class="large-3 columns" id="listings-content">
    <h4>Status</h4>
    <p>Claimed</p>
    </div>
  </div>
</div>
</div>

</div>
</div>
<!--TAB PANEL END-->


</body>
