<!--
This is the page where all of the listings will be shown. To style all the listings, you only need to add HTML for a single listing, and then I'll add code that makes that HTML repeat for every listing in the database.

This view should not have the listing creator's contact info or the "Make Request" button. A user should click on the listing to be taken to a detailed view of that listing. That page will be the "listings/show.html.erb" file. Inside that detailed view is where the "Make Request" button should go.
-->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/normalize.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/foundation.min.css">
<link href='http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="index.css"/>

<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>

<body>

<!--HEADER START-->
<div class="row" id ="header">
<div class="large-8 columns">
<h3>Human Assistance Resource Exchange | HARE</h3>
</div>
<div class="large-4 columns">
<ul class="inline-list" id="update-info">
  <li><a href="#">Update Account Information</a></li>
  </ul>
</div>
</div>
<!--HEADER END-->


<!--TAB PANEL START-->
<div class="row" id="tabs-container">
<ul class="tabs" data-tab>
  <li class="tab-title active"><a href="#all-listings">View Listings</a></li>
  <li class="tab-title"><a href="#panel2">Make a Listing</a></li>
  <li class="tab-title"><a href="#panel3">Request History</a></li>
  <li class="tab-title"><a href="#panel4">My Donations</a></li>
</ul>
<div class="tabs-content">

<!--TAB 1: VIEW LISTINGS-->
<div class="content active" id="all-listings">

<!--TAB 1: VIEW LISTINGS: Check box for item categories-->
<div class="row">
    <div class="large-3 columns" id="listing-filters">
        <h6>Filter by Item Category:</h6>
        <div class="inline-field">
            <input type="checkbox" id="checkbox1">
            <label for="checkbox1">Furniture</label>
        </div>

        <div class="inline-field">
            <input type="checkbox" id="checkbox2">
            <label for="checkbox2">Hygeine</label>
        </div>
        <div class="inline-field">
            <input type="checkbox" id="checkbox3">
            <label for="checkbox3">Computers</label>
        </div>

        <div class="inline-field">
            <input type="checkbox" id="checkbox4">
            <label for="checkbox4">Clothing</label>
        </div>

        <div class="inline-field">
            <input type="checkbox" id="checkbox5">
            <label for="checkbox5">Office Supplies</label>
        </div>
        <div class="inline-field">
            <input type="checkbox" id="checkbox6">
            <label for="checkbox6">Vehicles</label>
        </div>
    </div>
  <div class="large-3 columns" id="listings-content">
    <figure class="listing-item">
    <img src="http://placehold.it/100x100&text=[img]">
  </div>
  <div class="large-6 columns">
    <h4>Item Name</h4> <!--How to insert item name?-->
    <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
    <ul class="inline-list">
      <li><a href="#" id="view-more">View Detailed Listing</a></li> <!--How to link to more detailed listing?-->
    </ul>
  </div>
</div>


</body>
