html, body {
  font-family: "Helvetica Neue", sans-serif;
  margin: 0;
  width: 100%;
  height: 100%;
}


#header{
    margin-bottom: 30px;
}

#all-listings{
    margin-top: 10px;
}

#listing-item{
    margin: 30px;
}

#update-info{
  margin-top: 8px;
  text-align: right;
}
