<%= render 'listings/tab_navigation' %>

<div class="tabs-content">
  <div class="content active" id="listings-new">
    <div class="row">
      <div class="small-offset-3 small-6 columns">
        <%= render 'listings/form' %>
      </div>
    </div>
  </div>

</div>
