<%= render 'listings/sub_navigation' %>

<div class="tabs-content">
  <div class="content active" id="listings-new">
    <div class="row">
      <div class="small-offset-1 small-10 medium-offset-2 medium-8 columns">
        <%= render 'listings/form' %>
      </div>
    </div>
  </div>

</div>
