<%= render 'listings/tab_navigation' %>
<div class="tabs-content">
<!--TAB 2: MAKE A LISTING-->
  <div class="content active" id="panel2">
    <p>This is where the make a listing form will be?</p>
    <%= render 'listings/form' %>
  </div>

</div>
</div>
<!--TAB PANEL END-->
