<%= render 'listings/sub_navigation' %>

<div class="row">
    <div class="columns">
        <h2>User Profile</h2>
        <%= render 'users/account_settings' %>
        <%= render 'contact_infos/index' %>
        <%= render 'users_questionnaires/eligibility' %>
    </div>
</div>
