<!DOCTYPE html>
<html lang="en">
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
</head>
<body>
<h4>Dear <%= @donee.name %>,</h4>
<p>Thank you for expressing your interest in <%= @listing.title %>.</p>
<p>Your request has been sent to the donor,
<% if @donor.entity_name.empty? %>
  <%= @donor.name %>
<% else %>
  <%= @donor.entity_name %>
<% end %>.</p>
<p>Thank you for using HARE!</p>
</body>
</html>