<div class="row">
  <div class="large-6 medium-9 small-12 columns">
    <h1>Editing Address</h1>

    <%= render 'form' %>

    <%= link_to 'Show', @address %> |
    <%= link_to 'Back', addresses_path %>

  </div>
</div>
