<%= form_for @questionnaire, :url => user_update_questionnaire_path do |f| %>
    <% if @questionnaire.errors.any? %>
        <ul>
          <% @questionnaire.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
        </ul>
    <% end %>

    <%= f.fields_for :questions do |builder| %>
        <% @questionnaire.questions.each do |field| %>
            <%= render "users_questionnaires/fields/#{field.question_type}", question: field, f: builder %>
        <% end %>
    <% end %>
<% end %>
