<header>
  <div class="row masthead">
    <div class="small-12 columns">
      <div class="row logo-container">

        <div class="column small-3">
          <div class="logo-container__logo"></div>
        </div>

        <div class="column small-3 end">
          <h1 class="hide">Human Assistance Resource Exchange</h1>
          <span class="logo-container__logo-text">H.A.R.E.</span>
        </div>

      </div>
    </div>
  </div>
</header>
