<header>
  <div class="row masthead">
    <div class="small-12 columns">

      <div class="row logo-container">

        <div class="column small-6 medium-3">
          <div class="logo-container__logo"></div>
        </div>
        <h2 class="subtitle column">Human&nbsp;Assistance <wbr>Resource&nbsp;Exchange</h2>
      </div>
    </div>
  </div>
</header>
