<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name"><h1><%= link_to 'Home', root_path %></h1></li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>
  <div class="top-bar-section right">
    <%= render 'layouts/navigation_links' %>
  </div>
</nav>
